.page {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background-color: black;
}

.page__title {
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 80px; 
    font-weight: 700;
}

.header_button {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 10px;
}

.header_btn{
    width: 106px;
}

.user-email {
    font-size: 22px;
}

.btn {
    text-align: center;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    border-radius: 5px; 
}

.header_button .btn {
    border: 1px solid white;
    text-decoration: none;
}

.user-email {
    margin-left: 10px;
}

.main {
    padding: 40px 20px;
}

.main_title {
    font-weight: 700;
    background-color: rgb(122 105 206/0.3);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.main_btn .btn {
    border: 1px solid black;
    border-radius: 5px;
}

.footer {
    display: flex;
    align-items: end;
    justify-content: center;
    padding-bottom: 10px;
}



.btn:hover {
    color: rgb(122, 105, 206);
    border: 1px solid rgb(122, 105, 206);
}

/* LOGIN */
.login {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.uwu {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.title_login {
    text-align: center;
    padding-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding-top: 5px;
}

.form-check {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.btn-primary {
    border: 1px solid black;
    border-radius: 5px;
    
}

.form-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* create new cate */
.field {
    display: flex;
    flex-direction: row;
    gap: 5px;
    padding-top: 5px;
}

.title-link {
    text-decoration: none;
}

.title-link:hover {
    color: rgb(122, 105, 206);
}

.main_link .btn {
    text-decoration: none;
    border: 1px solid black;
} 

.main_link .btn:hover {
    color: rgb(122, 105, 206);
    border: 1px solid rgb(122, 105, 206);
}

/* вывод кошаков */
.cat_item-list {
    font-weight: 700;
}

.main_link {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cat-link {
    text-decoration: none;
}

.cat-link:hover {
    color:  rgb(122, 105, 206);
}

.main_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* table */
.table-title {
    background-color: rgb(122, 105, 206);
}

td {
    text-align: center;
    padding: 5px 0;
}

.link-cat:hover {
    color: rgb(122, 105, 206);
}

.form-btn .btn {
    text-decoration: none;
}

.btn-danger {
    border: 1px solid black;
}

.table-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}