.page {
    font-size: 18px;
    font-weight: 400;
    font-family: Raleway, sans-serif;
    min-height: 100vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    color: white;
    background-color: black;
}

.page__title {
    text-transform: uppercase;
    padding-left: 20px;
    /* color: rgb(86, 160, 234);
    text-shadow: 4px 4px rgb(21, 66, 110);; */
    font-size: 80px; /*размер заголовка*/
    font-weight: 700;
}

.header_button {
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

.btn {
    text-align: center;
    border: none;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: transparent;
    cursor: pointer;
    
}

.header_button .btn {
    border: 1px solid white;
    text-decoration: none;
}

.main {
    padding: 40px 20px;
}

.main_title {
    font-weight: 700;
    background-color: rgb(122 105 206/0.3);
}

.content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
}

.main_btn .btn {
    border: 1px solid black;
}

.footer {
    padding-top: 50px;
}



.btn:hover {
    color: rgb(122, 105, 206);
    border: 1px solid rgb(122, 105, 206);
}



/* LOGIN */
.login {
    width: auto;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: center;
}

.uwu {
    padding: 15px;
    border: 2px solid black;
    border-radius: 10px;
}

.title_login {
    text-align: center;
    padding-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding-top: 5px;
}

.form-check {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.btn-primary {
    border: 1px solid black;
    border-radius: 5px;
    
}

.form-btn {
    display: flex;
    flex-direction: row;
    justify-content: end;
}